<hr>
<h5>Peticion:</h5>
<div class="btn-group" role="group" arial-label="Basic example">
  <button type="button" class="btn btn-secondary" (click)="get()">Get</button>
  <button type="button" class="btn btn-secondary" (click)="post()">Post</button>
  <button type="button" class="btn btn-secondary" (click)="put()">Put</button>
  <button type="button" class="btn btn-secondary" (click)="patch()">Patch</button>
  <button type="button" class="btn btn-secondary" (click)="delete()">Delete</button>
  <button type="button" class="btn btn-secondary" (click)="getParam()">Get (userId=9)</button>
</div>
<hr>
<h5>Resulatdo:</h5>
<pre>{{resultadoPeticion|json}}</pre>
